
body {
	font-family: 'Balsamiq Sans', cursive;
}
#home {
	
	background-image: url("img/showcase.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat ;
}
@media(min-width: 768px){
	.news-input{
		width: 50%;
	}
}
#projects {
	background-color: rgba(63, 131, 191, 0.2);
}
#about {
	background-color: rgba(187, 63, 191, 0.1);
}
#contact {
	background-color: rgb(230, 255, 230);
}
.icon {
	color: rgb(245, 170, 66) ;
}
.link {
	text-decoration: none;
}
.mkfloat {
	float: right;
}

@media only screen and (min-width: 769px) {
	.cardproj {
		width: 100%;
		flex-direction: row;
		}
	.cardproj img {
		width: 30%;
		}
}

#btn-stt  {
	position: fixed;
	right: 10px;
	bottom: 10px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	z-index: 100;
}

.ic:hover {
	color: #660033;

}

@media all and  (min-width:200px) and (max-width:500px) {
	#ourTeam{
		height: 60vh;
	}
	
}

.card{  
	opacity:0;
  animation: animations 3s ease-in-out  forwards ;
}

.article{
 animation: animations 3s ease-in-out 1s;
}

.navbar{
	animation: navbaranimation 2s ease-in-out ;
}

#home{
     animation: showcaseanimation 2s ease-in-out forwards;
}

#newsletter{
	animation: newsanimation 4s ease-in-out;
}

@keyframes newsanimation {
	from{
       opacity: 0;
	}
	to{
      opacity: 1;
	}
	
}

@keyframes  animations {
	from{
       opacity:0;
	   transform: translateX(100%);
	}
	to{
		opacity:1;
		transform:translateX(0%);
	}
	
}

@keyframes showcaseanimation{
	from{
       opacity: 0;
	   transform: translatez(0);
	}
	to{
       opacity: 1;
	   transform: translatez(100%);
	}
}

@keyframes navbaranimation {
	from{
       height:0;
	   opacity:0;
	   
	}
	to{
       height:76px;
	   opacity:1;
	}
}
